.full-width {
    width: 100%;
}
.float-right {
    float:right;
}

.float-left {
    float: left;
}
mat-dialog-content {
    margin: 1% auto;
}
mat-form-field {
    width: 100%;
}
mat-card {
    margin: 5% auto;
    width: 100%;
}
mat-card .image-wrapper {
    height: 350px;
    max-width: 100%;
    margin: auto;
} 

mat-card img {
    height: auto;
    max-height: 350px;
    max-width: 100%;
    margin: auto;
}