<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row">
            <img [src]="imageURL" alt="Про нас" *ngIf="imageURL" width="100%">
        </div>
        <div class="row" style="text-align: left;color: rgb(112, 112, 112);font-size: 13px;border: 0px;">            
            <div style="border: 0px;">                
                <h2>ПРО ІНТЕРНЕТ-МАГАЗИН МЕДУ</h2>
                <p> Бджоли та людина пережили багато разом, починаючи ще з 20 століття до нашої
                    ери! Бджільництво, ймовірно, зародило початок розвитку сільського господарства, який стався близько
                    12
                    століть тому.</p>
                <p>
                    Насправді зараз, як і багато століть потому, без бджіл люди не мали б дуже багатого різноманіття
                    рослин та
                    культур. На нашому фермерському господарстві ми і надалі підтримуємо баланс
                    закладений самою
                    природою, використовуючи органічні засобі догляду та запилення бджолиними сім&rsquo;ями
                    &nbsp;фруктових
                    садів, ягідних культур та різнотрав&rsquo;я. Завдяки цьому смак нашого меду, ягід та фруктів
                    неймовірні!</p>
                <p>Ми ретельно відбираємо свіжу малину, полуницю, лохину, черешню, абрикосу та сливу, щоб за допомогою
                    сучасних
                    технологій отримати продукти найвищої якості &ndash; сублімовану ягоду, джеми та, звичайно, мед.</p>
                <p>Наш мед необроблений та нефільтрований, так що всі його корисні властивості повністю збережені.
                    Завдяки цьому всі ферменти, вітаміни та мінерали зберігаються неушкодженими. Наш мед також містить
                    трохи
                    бджолиного пилку, прополісу та бджолиного воску. Це означає, що всі його первісні поживні речовини
                    повністю
                    збережені.</p>
                <p>
                    Україна &ndash; це наш дім, де жили наші діди та прадіди, де ми народилися, де будуть жити наші
                    нащадки. Ми
                    віримо, що наші продукти допомагають досягти балансу розуму, тіла та душі, водночас ведучи шлях до
                    соціально
                    свідомих ініціатив - &nbsp;захистити навколишнє середовище.</p>
            </div>
        </div>
    </div>
</div>